<h1>New Video</h1>


<%= form_for(@video) do |f| %>
  <div class="field">
      <%= f.text_field :name %>
     </div>
     <div class="field">
      <%= f.file_field :file %>
     </div>
     <div class="actions">
      <%= f.submit %>
     </div>
    <% end %>
